{% extends 'blog/base.html' %}

{% block main_area %}

<h1>Data Charts</h1>

<input type="text" id="example">

<!-- Blog post -->
<div class="card" id="post-{{p.pk}}">

    <div id="chart1"></div>
    
</div>



<!-- Pagination -->
{% if is_paginated %}
<ul class="pagination justify-content-center mb-4">
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">&larr; Older</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">&larr; Older</a> <!-- Escape 문자 -->
    </li>
    {% endif %}

    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Newer &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a> <!-- Escape 문자 -->
    </li>
    {% endif %}
</ul>
{% endif %}

<script>

            // 비동기방식
            var async = new XMLHttpRequest();
            async.onreadystatechange = function(event) {
                if (async.readyState == 4 && async.status == 200) {
                    console.log(async.responseText);
                    var deserializeJson = JSON.parse(async.responseText);
                    var items = JSON.parse(deserializeJson);

                    var aPH = ["pH"];
                    var aX = ["x"];
                    var aTemperature = ["T"]

                    for (item of items) {
                        aPH.push(item.fields.ph);
                        aTemperature.push(item.fields.temperature);
                        aX.push(item.fields.created_at.split('.')[0]);
                    }

                    var chart = bb.generate({
                      data: {
                        x: "x",
                        xFormat: "%Y-%m-%dT%H:%M:%S",
                        columns: [aX, aPH, aTemperature],
                        type: "line", // for ESM specify as: line()
                      },
                      axis: {
                        x: {
                          type: "timeseries",
                          tick: {
                            format: "%Y-%m-%dT%H:%M:%S"
                          }
                        }
                      },
                      bindto: "#chart1"
                    });
                        }
                    };






        const input = document.getElementById('example');
        const datepicker = new TheDatepicker.Datepicker(input);
        datepicker.render();

        datepicker.options.onSelect((event, day, previousDay) => {
            console.log(day.year);
            console.log(day.month);
            console.log(day.dayNumber);
            console.log(day);
            var day1 = day.dayNumber;
            var month = day.month;
            var year=day.year;

            console.log(typeof day1);
            console.log(typeof month);
            console.log(typeof year);



            var url = '/api/past/?year=' + year + '&month=' + month + '&dayNumber=' + day1;
            console.log(url);
            async.open('GET', url, true);
            async.send();
        });
</script>

{% endblock %}
