{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ post.title }} - Blog
{% endblock %}

{% block main_area %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div>
            <!-- Post content-->
            <div id="post-area">

                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                        <!--요약문 출력부분 -->

                        <!-- Post meta content-->

                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <div id="chart" style="width: 800px; height: 400px"></div>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">{{post.get_content_markdown | safe }}</section>
                </article>
            </div>

        </div>
    </div>
</div>
{% endblock %}