{% extends 'blog/base.html' %}

{% block main_area %}

<h1>Data Charts
    <!-- 만약 views.py로부터 전달받은 category 변수가 존재한다면 (카테고리 페이지 접근 시)-->
    {% if category %}
    <!-- 카테고리 뱃지를 카테고리 페이지 제목 앞에 표시한다 -->
    <span class="badge badge-secondary">{{ category }}</span>
    {% endif %}
    {% if tag %}
    <!-- 테그 뱃지를 카테고리 페이지 제목 앞에 표시한다 -->
    <span class="badge badge-light">
        <i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span>
    {% endif %}
</h1>
<input type="text" id="example">
{% if post_list.exists %}
{% for p in post_list %}
<!-- Blog post -->
<div class="card" id="post-{{p.pk}}">

    <h2 class="card-title h4 ">{{p.title}}</h2>
    <!-- 블로그 포스트 카드의 그림영역 -->
    <div id="chart1"></div>
    <!-- 블로그 글의 요약 부분 -->
    
</div>
{% endfor %}

{% else %}
<h3>아직 게시물이 없습니다</h3>
{% endif %}

<!-- Pagination -->
{% if is_paginated %}
<ul class="pagination justify-content-center mb-4">
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">&larr; Older</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">&larr; Older</a> <!-- Escape 문자 -->
    </li>
    {% endif %}

    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Newer &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a> <!-- Escape 문자 -->
    </li>
    {% endif %}
</ul>
{% endif %}


{% endblock %}
