<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>

    <link href="{% static 'blog/bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'single_pages/css/about_me.css' %}" rel="stylesheet" type="text/css" media="screen">
    <script src="https://kit.fontawesome.com/f825ae5235.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>About Daltanyang</title>

</head>
<body>

{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>Hello. I am Daltanyang.</h1>
                <br/>
                <p class="lead">
                    I like music, computer and swimming vary much.<br/>
                    After dater analysis for earning money, I usually do exercise or write book after finish work.
                </p>

                <ul>
                    <li>WORK EXPERIENCE</li>
                    <ul>
                        <li>Big and Good company - Bigdata analysis</li>
                        <li>Momo public institution (2016.02 ~ 2019.09</li>
                    </ul>
                    <li>EDUCATION</li>
                    <ul>
                        <li>Engineering Doctor's degree, Django Engineering, Python University(2010.03~2015.09)</li>
                        <li>Engineering master's degree, Django Engineering, Python University(2007.09~2009.08)</li>
                        <li>Engineering bachelor's degree, Django Engineering, Python University(2003.09~2007.08)</li>
                    </ul>
                    <li>PUBLISH</li>
                    <ul>
                        <li>DO IT DJANGO, 이지스퍼블리싱 (2020)</li>
                    </ul>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{% static 'single_pages/images/my_back.png'%}">
            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#pycon2017">
                    <img class="card-img-top" src="{% static 'single_pages/images/pycon_sy_2017.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">파이썬으로 통계업무 자동화하기 [PYCON]</h5>
                        <p>Python, Django, pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                    <img class="card-img-top" src="{% static 'single_pages/images/inflearn_django2.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">파이썬 사용자를 위한 웹개발 입문 A to Z Django + Bootstrap</h5>
                        <p>파이썬 웹개발에 대한 인프런 동영상 강의입니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#automation_python">
                    <img class="card-img-top" src="{% static 'single_pages/images/automation_python.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">직장인을 위한 프로그래밍 입문과 업무자동화 활용</h5>
                        <p>퍼아썬 업무자동화에 대한 인프런 동영상 강의입니다.</p>
                    </div>
                </div>
            </div>

            <!-- First Modal -->
            <div class="modal fade" id="pycon2017" tabindex="-1" role="dialog"
                 aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                </div>
            </div>
            <!-- Second Modal -->
            <div class="modal fade" id="inflearn_django2" tabindex="-1" role="dialog"
                 aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                </div>
            </div>
            <!-- Third Modal -->
            <div class="modal fade" id="automation_python" tabindex="-1" role="dialog"
                 aria-labelledby="automationPythonDjangoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                </div>
            </div>

        </div>
    </div>
</section>

<div class="fixed-bottom ">
    {% include 'blog/footer.html' %}
</div>
</body>
</html>